# Nodes: this is the only required configuration. Everything else is optional.
nodes:
  # Controlplane & Etcd nodes
  - address: {{ host_master }}
    user: rke
    role:
      - controlplane
      - etcd
      - worker
    hostname_override: master
cluster_name: somos-mais
services:
    kubelet:
      extra_binds:
        - "/engine:/engine"
        - "/var/lib/mysql:/var/lib/mysql"
        - "/var/lib/grafana:/var/lib/grafana"
        - "/static:/static"
               
ssh_key_path: ~/.ssh/id_rsa







